[submodule "start/vim-go"]
	path = start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "start/hardmode"]
	path = start/hardmode
	url = git://github.com/wikitopian/hardmode.git
[submodule "start/vim-hugo-helper"]
	path = start/vim-hugo-helper
	url = https://github.com/robertbasic/vim-hugo-helper.git
